            /*************************************** Reset CSS ********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container
{
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside, main, header, section
{
    font-family: 'Roboto Condensed', arial, sans-serif;
}

            /*************************************** Partie gauche du CV ********************************************/

#bandeau
{
    width: 350px;
    height: auto;
    background-color: #039BE5;
    display: flex;
    flex-direction: column;
}

#photo_profil
{
    align-self: center;
}

#photo_profil img
{
    margin-top: 50px;
    margin-bottom: 30px;
    max-height: 150px;
    clip-path: circle(50% at 50% 50%);
}

.a_propos
{
    height: 55%;
}

p
{
    margin: 15px 10px 10px 70px;
    padding-right: 50px;
}

h2
{
    margin: 20px 0px 30px 0px;
    padding: 7px 0px 5px 0px;
    font-size: 1.4em;
    text-align: center;
    background-color: #263238;
    color: #039BE5;
}

.color_icone
{
    display: flex;
    font-size: 3em;
    color: #263238;
    justify-content: space-around;
}

.fas
{
    /*margin-left: 10px;*/
    padding-top: 15px;
}

            /*************************************** Partie droite du CV ********************************************/

.main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

h1
{
    font-size: 3.5em;
}

h1 span
{
    color: #039BE5;
}

.h2
{
    margin: 0px;
    padding: 0px;
    font-size: 1.7em;
    text-align: left;
    background-color: unset;
    color: unset;
}

h3
{
    font-size: 1.7em;
    padding-top: 30px;
}

.souligne
{
    border-bottom: 2px solid #039BE5;
}

#titre
{
    margin-bottom:100px;
}

            /******************* Formation *******************/

#parcours
{
    display: flex;
    flex-direction: column;
}

.titre_secondaire
{
    display: flex;
    border-bottom: 2px solid #039BE5;
}

.titre_secondaire i
{
    font-size: 2em;
    margin: 0px 30px 5px 0px;
}

#box1, #box2, #box3, #box4
{
    display: flex;
}

h4
{
    margin: 40px 0px 0px 70px;
}

.dates
{
    display: flex;
    padding-top: 40px;
}

.dates p
{
    padding: 0px;
}

#box4
{
    margin-bottom: 50px;
}

            /******************* Experience professionnelle *******************/

#box5, #box6, #box7
{
    display: flex;
}

.dates p
{
    margin: 0px 0px 0px 35px;
    width: 90px;
}

.dates i
{
    color: #039BE5;
}

.titre_secondaire i
{
    color: #039BE5;
}

            /******************* Rocommandations *******************/

.recommandations
{
    display: flex;
}

.reco1, .reco2
{
    width: 50%;
}

.reco1 h4, .reco2 h4
{
    margin: 40px 0px 15px 0px;
}

.reco1 p, .reco2 p
{
   margin: 0px 0px 8px 0px;
}

.gras
{
    font-weight: bold;
}

            /*************************************** Responsive ********************************************/

            /******************* Tablettes *******************/

@media screen and (max-width: 768px)
{
    #container
    {
        flex-direction: column-reverse;
    }

    #bandeau
    {
        width: 100%;
        flex-flow: row no-wrap;
    }
    
    #photo_profil
    {
        order: 1;
    }

    #photo_profil img
    {
        margin-top: 0px;
    }

    #contact 
    {
        order: 1;
        text-align: center;
    }

    #loisirs
    {
        order: 1;
    }
}

            /******************* Smartphones *******************/

@media screen and (max-width: 425px)
{
    .main
    {
        padding: 0px;
    }

    .recommandations
    {
        flex-direction: column;
        align-items: center;
    }

    .reco2
    {
        margin-bottom: 15px;
    }
      
    #photo_profil
    {
        order: 3;
    }

    #photo_profil img
    {
        margin: 20px 0px 20px 0px;
    }

    #loisirs
    {
        width: 100%;
        order: 1;
    }

    #loisirs span
    {
        padding-left: 80px;
    }

    #contact 
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        order: 2;
        margin: 0px;
    }

    #contact h2
    {
        width: 100%;
    }

    #contact p
    {
        padding: 0px;
        justify-content: center;
    }

    .site_web
    {
        margin: 15px 10px 10px 70px;
    }

    #loisirs span
    {
        padding: 0px;
    }
}