            /* ----------------------------------- Reset CSS ----------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container
{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
}

aside, main, header, section
{
    font-family: 'Roboto Condensed', arial, sans-serif;
}

            /* ----------------------------------- Partie gauche du CV ----------------------------------- */

#bandeau
{
    width: 33%;
    height: auto;
    background-color: #039BE5;
    display: flex;
    flex-direction: column;
}

#photo_profil
{
    align-self: center;
}

#photo_profil img
{
    margin-top: 50px;
    margin-bottom: 30px;
    max-height: 150px;
    clip-path: circle(50% at 50% 50%);
}

.a_propos
{
    height: 58%;
}

p
{
    margin: 15px 10px 10px 70px;
    padding-right: 50px;
}

h2
{
    margin: 20px 0px 30px 0px;
    padding: 7px 0px 5px 0px;
    font-size: 1.4em;
    text-align: center;
    background-color: #263238;
    color: #039BE5;
}

.color_icone
{
    display: flex;
    font-size: 3em;
    color: #263238;
    justify-content: space-around;
}

.fas
{
    padding-top: 15px;
}

            /* ----------------------------------- Partie droite du CV ----------------------------------- */

.main
{
    width: 67%;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

h1
{
    font-size: 3.5em;
}

h1 span
{
    color: #039BE5;
}

.h2
{
    margin: 0px;
    padding: 0px;
    font-size: 1.7em;
    text-align: left;
    background-color: unset;
    color: unset;
}

h3
{
    font-size: 1.7em;
    padding-top: 30px;
}

.souligne
{
    border-bottom: 2px solid #039BE5;
}

#titre
{
    margin-bottom:100px;
}

            /* ------------------- Formation ------------------- */

#parcours
{
    display: flex;
    flex-direction: column;
}

.titre_secondaire
{
    display: flex;
    border-bottom: 2px solid #039BE5;
}

.titre_secondaire i
{
    font-size: 2em;
    margin: 0px 30px 5px 0px;
}

#box1, #box2, #box3, #box4
{
    display: flex;
}

h4
{
    margin: 40px 0px 0px 70px;
}

.dates
{
    display: flex;
    padding-top: 40px;
}

.dates p
{
    padding: 0px;
}

#box4
{
    margin-bottom: 50px;
}

            /* ------------------- Experience professionnelle ------------------- */

#box5, #box6, #box7
{
    display: flex;
}

#box7
{
    margin-bottom: 50px;
}

.dates p
{
    margin: 0px 0px 0px 35px;
    width: 90px;
}

.dates i
{
    color: #039BE5;
}

.titre_secondaire i
{
    color: #039BE5;
}

            /* ------------------- Rocommandations ------------------- */

.recommandations
{
    display: flex;
}

.reco1, .reco2
{
    width: 50%;
}

.reco1 h4, .reco2 h4
{
    margin: 40px 0px 15px 0px;
}

.reco1 p, .reco2 p
{
   margin: 0px 0px 8px 0px;
}

.gras
{
    font-weight: bold;
}

            /* ----------------------------------- Responsive ----------------------------------- */

            /* ------------------- Tablettes ------------------- */

@media screen and (max-width: 768px)
{
    #container
    {
        flex-direction: column-reverse;
    }

    .main
    {
        width: auto;
        margin-top: 200px;
    }

    #bandeau
    {
        width: auto;
    }

    #titre
    {
        text-align: center;
    }

    .h2
    {
        text-align: center;
    }
    
    #photo_profil
    {
        position: relative;
        top: -2600px;
        order: 1;
    }

    #photo_profil img
    {
        margin-top: 0px;
    }

    #contact 
    {
        order: 1;
        text-align: center;
    }

    #loisirs
    {
        order: 1;
    }
}

            /* ------------------- Smartphones ------------------- */

@media screen and (max-width: 425px)
{
    .main
    {
        padding: 10px;
        width: auto;
    }

    #bandeau
    {
        width: 100%;
    }

    #titre
    {
        margin-bottom: 60px;
    }

    #box1, #box2, #box3, #box4, #box5, #box6, #box7
    {
        flex-direction: column;
        border: 2px solid #039BE5;
        border-radius: 50px;
        padding: 30px 20px 20px 20px;
        box-shadow: 0px 0px 7px #000000;
    }

    .dates
    {
        padding: 0px 0px 5px 20px;
        margin: 0px;
    }

    .deco
    {
        padding: 10px 20px 10px 20px;
        margin-top: 20px;
    }

    h4
    {
        padding: 15px 0px 5px 20px;
        margin: 0px;
    }

    p
    {
        margin: 10px 10px 10px 20px;
        padding: 0px 0px 5px 0px;
    }

    .recommandations
    {
        flex-direction: column;
        align-items: center;
    }

    .reco2
    {
        margin-bottom: 15px;
    }
      
    #photo_profil
    {
        position: relative;
        top: -3760px;
    }

    #photo_profil img
    {
        margin: 20px 0px 20px 0px;
    }

    #loisirs
    {
        width: 100%;
        order: 1;
    }

    #loisirs span
    {
        padding-left: 80px;
    }

    #contact 
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        order: 2;
        margin: 0px;
        text-align: start;
    }

    #contact h2
    {
        width: 100%;
    }

    .h2
    {
        font-size: 155%;
        text-align: center;
    }

    .tel
    {
        padding-left: 90px;
    }

    #loisirs span
    {
        padding: 0px;
    }
}

@media screen and (max-width: 375px)
{
    #photo_profil
    {
        position: relative;
        top: -4000px;
    }
}

@media screen and (max-width: 320px)
{
    .tel
    {
        padding-left: 0px;
    }

    #contact
    {
        flex-direction: column;
        text-align: center;
    }

    h3
    {
        font-size: 1.3em;
    }

    .reco1, .reco2
    {
        width: auto;
    }

    .reco1 h4, .reco2 h4
    {
        padding: 0px;
    }

    .recommandations
    {
        align-items: flex-start;
        padding-left: 50px;
    }

    #photo_profil
    {
        position: relative;
        top: -4300px;
    }
}